<main>
    <section class="bodegas">
        <h2>Bodegas de Mendoza</h2>
        <br>
        <section class="bodegas-mendoza">
            <div class="bodega">
                <img src="./assets/img/bodegas/argento.webp" alt="logo_argento">
                <div class="text">
                    <h3>Bodega Argento</h3>
                    <p>Nuestras fincas están ubicadas en la región tradicional de Mendoza y en el Valle de Uco.
                        Cada lugar es único y tiene una historia que contar, por eso trabajamos teniendo en
                        cuenta clima y suelo para preservar todo aquello que hace que nuestros vinos tengan
                        identidad. Finca Alto Agrelo, Finca Ugarteche, Finca Altamira, Finca Cruz de Piedra,
                        Finca Carrizal
                    </p>
                    <a href="https://bodegaargento.com/">Bodegas Argento</a>
                </div>
            </div>

            <div class="bodega">
                <img src="./assets/img/bodegas/bianchi.webp" alt="logo_bianchi">
                <div class="text">
                    <h3>Bodega Bianchi</h3>
                    <p>Somos una Bodega con Herencia Familiar que se proyecta con sus valores de tradición,
                        calidad, prestigio, innovación y contemporaneidad en la vitivinicultura argentina.
                        Situados en nuestro histórico terruño de San Rafael y en el Valle de Uco, provincia de
                        Mendoza,es hoy una marca global con presencia en más de 40 países representando
                        los valores y la calidad del vino argentino en todo el mundo.
                    </p>
                    <a href="https://www.bodegasbianchi.com.ar/">Bodegas Bianchi</a>
                </div>
            </div>

            <div class="bodega">
                <img src="./assets/img/bodegas/zapata.webp" alt="logo_zapata">
                <div class="text">
                    <h3>Bodega Catena Zapata</h3>
                    <p>La Bodega Catena Zapata en Argentina se estableció en 1902. La familia descubrió las
                        condiciones idóneas para el cultivo de las variedades Malbec en el terroir de altísima
                        altitud en las estribaciones de los Andes en Mendoza. Desde entonces se ha dado a
                        conocer en todo el mundo como el pionero en rescatar el Malbec.
                    </p>
                    <a href="https://www.catenazapata.com/">Bodegas Catena Zapata</a>
                </div>
            </div>

            <div class="bodega">
                <img src="./assets/img/bodegas/graffigna.webp" alt="logo_graffigna">
                <div class="text">
                    <h3>Bodega Graffigna</h3>
                    <p>La naturaleza de Graffigna se refleja en la pasión
                        que se imprime en cada uno de nuestros vinos.
                        Único es el espíritu, la autenticidad y la energía
                        de Argentina y nuestra gente.
                    </p>
                    <a href="https://graffignawines.com/es/">Bodegas Graffigna</a>
                </div>
            </div>

            <div class="bodega">
                <img src="./assets/img/bodegas/toneles.webp" alt="logo_toneles">
                <div class="text">
                    <h3>Bodega Toneles</h3>
                    <p>Somos una bodega urbana, fundada en 1922, con más de 100 años
                        de historia. Nuestra arquitectura representa la revolución industrial
                        y la edad de oro de la vitinicultura Argentina. En el año 2008 fuimos
                        declaramos “Patrimonio Cultural de la provincia de Mendoza” gracias
                        a los trabajos de remodelación, refuncionalización y puesta en valor.
                    </p>
                    <a href="https://linktr.ee/Bodegalostoneles">Bodegas Toneles</a>
                </div>
            </div>

            <div class="bodega">
                <img src="./assets/img/bodegas/wines.webp" alt="logo_wines">
                <div class="text">
                    <h3>Bodega Wines</h3>
                    <p>Es una bodega Boutique Familiar, ubicada en Lujan de Cuyo-Mendoza, donde se podrá
                        visitar. El servicio de tours incluye la visita al viñedo, bodega y degustación.
                    </p>
                    <a href="https://www.vinosbonfanti.com.ar/">Bodegas Wines</a>
                </div>
            </div>
        </section>
    </section>
</main>