<main class="container">
    <h1>Login</h1>
    <form action="/api/sessions/login" method="POST" class="form-group w-50">
        <label for="">Email</label>
        <input type="email" name="email" class="form-control">
        <label for="">Password</label>
        <input type="password" name="password" class="form-control">
        <br>
        <button class="btn btn-outline-dark w 50">Ingresar</button>
    </form>
    <div>
        <br>
        <a href="/api/sessions/github">Github</a>
    </div>
</main>