<main class="fondo container" >
    <h2>Login</h2>
    <form class="form-group w-50" action="/api/sessions/login" method="post">
        <label>Email</label>
        <input type="email" name="email" class="form-control">
        <label>Password</label>
        <input type="password" name="password" class="form-control">
        <br>
        <button class="button-session">Ingresar</button>
    </form>
    <br>
    <a href="/restablecer">Olvide mi Contraseña</a>
    <div>
        <br>
        <a href="/api/sessions/github">Github</a>
    </div>
</main>