<div>
    <h1>Listado de Productos WebSocket</h1>
    {{!-- {{#each products}}
    <div>
        <p>id: {{this.id}}</p>
        <p>title: {{this.title}}</p>
        <p>description: {{this.description}}</p>
        <p>price: ${{this.price}}</p>
    </div>
    {{/each}} --}}
</div>
{{!-- <script src="/node_modules/socket.io/client-dist/socket.io.js"></script>
<script src="/src/public/js/realtimeproducts.js"></script> --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>

{{!-- No me vincula los script --}}