<main>
    <title>Restablecer Contraseña usuario {{email}}</title>
    <form id="password-reset-form">
        <label for="email">User</label>
        <input type="text" id="email" value="{{email}}">
        <label for="password">Nueva Contraseña</label>
        <input type="password" id="password">
        <label for="password-verify">Confirmar Contraseña</label>
        <input type="password" id="password-verify" required>

        <button type="submit">Restablecer Contraseña</button>
    </form>
</main>


<script>
    document.getElementById("password-reset-form").addEventListener("submit", async function (event) {
        event.preventDefault();
        const email = document.getElementById("email").value;
        const newpassword = document.getElementById("password").value;
        const confirmPassword = document.getElementById("password-verify").value;

        if (newpassword === confirmPassword) {
            try {
                const response = await fetch('/api/sessions/resetpassword', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ email, newpassword }), 
                });

                if (response.ok) {
                    console.log("Contraseña restablecida correctamente.");
                } else {
                    console.error("Error al restablecer la contraseña:", response.statusText);
                }
            } catch (error) {
                console.error("Error de red:", error);
            }
        } else {
            alert("Las contraseñas no coinciden. Inténtalo de nuevo.");
        }
    });
</script>
